.weather {
  text-align: center;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 35px;
  position: absolute;
  text-align: right;
  bottom: 40px;
  right: 20vw;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.48);
}
